/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

.time-wrap span { 
  clear:both;
  display: block;
  margin: -10px 0;
  line-height: 28px;
}

.back-btn a { 
  color: #fff;
  position: relative;
  top: 35px;
  border-width: 15px 15px 15px 0;
  border-style: solid;
  border-color: transparent #000 transparent transparent;
  font-size: 0;  
}

.back-btn a:after { 
  content: "";
  width: 23px;
  height: 6px;
  background-color: #000;
  position: absolute;
  left: 15px;
  top: -3px;
}
