<div class="page-header text-center">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  <h1><%= @activity.activity_name %></h1>
</div>
<div class="list-group">
  <%= render :partial => "children_list", :collection => @activity_children, :as => :activity_children %>
</div>


